*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    /* display: flex;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4a8a841;
}

.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside {
    width: 400px;
    background-color: #999;
    padding: 50px;
    border-radius: 10px;
}


.leftside img{
max-width: 500px;
height: auto;
}

form{
    
}

label{
    display: block;
    padding: 10px;
}

.rightside input{
    border-radius: 5px;
    border: 1px solid #999;
    padding: 8px;
    font-size: 14px;
    outline: 0;
    width: 100%;
}

#btn{
    cursor: pointer;
}


.error{
    background-color: #ff0000;
    color: #fff;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
}
